@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model MbmStore.Models.Product
@using MbmStore.Infrastructure

<form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
    <input type="hidden" name="ProductId" value="@Model.ProductId" />
    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <span class="card-text p-1">
        <input type="number" value="1" name="quantity" />
        <button type="submit" class="btn btn-success btn-sm pull-right">
            Add To Cart
        </button>
    </span>
</form>