@model IEnumerable<string>

<a class="btn btn-block @(ViewBag.CurrentCategory == null ? "btn-primary" : "btn-secondary")"
   asp-action="Index"
   asp-controller="Catalogue"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
{
    <a class="btn btn-block @(category == ViewBag.CurrentCategory ? "btn-primary" : "btn-secondary")"
       asp-action="Index"
       asp-controller="Catalogue"
       asp-route-page="1"
       asp-route-category="@category">
        @category
    </a>
}
