@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Models
@using MbmStore.Infrastructure
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Catalogue Index</h1>

<section class="container">
    <section class="books">
        <h2>Books</h2>
        @foreach (Book book in Model.OfType<Book>())
        {
            @await Html.PartialAsync("ProductSummaryBook", book)
        }
    </section>
    <section>
        <h2>Music CD's</h2>
        @foreach (MusicCD musicCD in Model.OfType<MusicCD>())
        {
            @await Html.PartialAsync("ProductSummaryMusicCd", musicCD)
        }
    </section>
    <section class="movies">
        <h2>Movies</h2>
        @foreach (Movie movie in Model.OfType<Movie>())
        {
            @await Html.PartialAsync("ProductSummaryMovie", movie)
        }
    </section>
</section>
