@model ProductsListViewModel
@{
    ViewData["Title"] = "Products";
}

<h1>Catalogue Index</h1>

<section class="container">
    @if (Model.Products.OfType<Book>().ToList().Count > 0)
    {
        <section class="books card-deck mb-4">
            <h2 class="w-100">Books</h2>
            @foreach (Book book in Model.Products.OfType<Book>())
            {
                @await Html.PartialAsync("ProductSummaryBook", book)
            }
        </section>
    }
    @if (Model.Products.OfType<MusicCD>().ToList().Count > 0)
    {
        <section class="card-deck mb-4">
            <h2 class="w-100">Music CD's</h2>
            @foreach (MusicCD musicCD in Model.Products.OfType<MusicCD>())
            {
                @await Html.PartialAsync("ProductSummaryMusicCd", musicCD)
            }
        </section>
    }
    @if (Model.Products.OfType<Movie>().ToList().Count > 0)
    {
        <section class="movies card-deck mb-4">
            <h2 class="w-100">Movies</h2>
            @foreach (Movie movie in Model.Products.OfType<Movie>())
            {
                @await Html.PartialAsync("ProductSummaryMovie", movie)
            }
        </section>
    }
    <nav page-model="@Model.PagingInfo" page-action="Index" page-controller="Catalogue" page-url-category="@Model.CurrentCategory" page-classes-enabled="true" page-class="page-item" page-class-selected="active"></nav>
</section>
